@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #e8021f;
  --section-dark-bg: #1b1b1b;
  --section-light-bg: #222222;
  --text-light: #999;
  --color-white: #fff;
  --color-black: #000;

  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-jost: "Jost", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #111;
    font-family: var(--font-roboto);
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .menu {
    transition: var(--transition-regular);
  }

  .menu li a {
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: var(--transition-regular);
  }

  .menu li a::after {
    content: "";
    position: absolute;
    /* top: 100%; */
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--color-primary);
    transition: var(--transition-regular);
    z-index: -1;
  }

  .menu li a.active {
    color: var(--color-primary);
  }
  .menu li a.active::after {
    width: 100%;
  }

  /* .menu li a:hover::after {
    width: 100%;
  }
  .menu li a:hover {
    color: var(--color-primary);
  } */

  @media (hover: hover) {
    .menu li a:hover {
      color: var(--color-primary);
    }

    .menu li a:hover::after {
      width: 100%;
    }
  }

  @media (hover: none) {
    .menu li a:active {
      color: var(--color-primary);
      opacity: 0.6;
    }
  }
}

/* @media screen and (max-width: 1023px) {
  .menu li a::after {
    display:none;
  }
} */
