@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #e8021f;
  --section-dark-bg: #1b1b1b;
  --section-light-bg: #222222;
  --text-light: #999;

  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-jost: "Jost", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #111;
    font-family: var(--font-roboto);
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  /* Navbar */
  .menu {
    transition: var(--transition-regular);
  }

  .menu li a {
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: var(--transition-regular);
  }

  .menu li a::after {
    content: "";
    position: absolute;
    /* top: 100%; */
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--color-primary);
    transition: var(--transition-regular);
    z-index: -1;
  }

  .menu li a.active {
    color: var(--color-primary);
  }
  .menu li a.active::after {
    width: 100%;
  }

  @media (hover: hover) {
    .menu li a:hover {
      color: var(--color-primary);
    }

    .menu li a:hover::after {
      width: 100%;
    }
  }

  @media (hover: none) {
    .menu li a:active {
      color: var(--color-primary);
      opacity: 0.6;
    }
  }

  /* Hero */
  .hero-slide {
    position: relative;
    overflow: hidden;
  }

  .hero-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    animation: Anim-zoom 10s infinite alternate ease-in-out;
    will-change: transform;
  }

  .hero-slide1::before {
    background-image: url(assets/images/hero-slide-4.jpg);
  }

  .hero-slide2::before {
    background-image: url(assets/images/hero-slide-6.jpg);
  }

  .hero-slide3::before {
    background-image: url(assets/images/hero-slide-7.jpg);
  }

  .hero-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 0.3) 100%
    );
    z-index: 1;
  }

  .hero-content > * {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
  }

  .swiper-slide-active .hero-content > * {
    opacity: 1;
    transform: translateY(0);
  }

  .swiper-slide-active .hero-title {
    transition-delay: 0.2s;
  }
  .swiper-slide-active .hero-subtitle {
    transition-delay: 0.4s;
  }
  .swiper-slide-active .hero-pere {
    transition-delay: 0.6s;
  }
 

  @keyframes Anim-zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15);
    }
  }
}
